[*]
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[*.lua]
indent_size = 3

[*.lsp]
indent_size = 3

# LUA Configuration files (mako.conf, etc.)
[*.conf]
indent_size = 3

[*.md]
indent_size = 2

[*.js*|*.jsx|*.ts*|*.tsx]
indent_size = 2

[*.py]
indent_size = 4
